<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gta.smart.smarthome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.gta.smart.entrywindow.EntryAppWindow"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SelectPicPopupWindow"
            android:theme="@style/MyDialogStyleButtom"/>
        <activity android:name="com.gta.smart.entrywindow.LoadingWin"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:label="@string/smart_register"
            android:name="com.gta.smart.entrywindow.RegisterObtainVertifyCodeWin" />
        <activity android:label="@string/smart_register"
            android:name="com.gta.smart.entrywindow.RegisterIdentificationWin" />
        <activity android:label="@string/smart_register"
            android:name="com.gta.smart.entrywindow.RegisterSettingPasswordWin" />
        <activity
            android:label="@string/smart_ctrl"
            android:name="com.gta.smart.household_ctrl.HouseholdCtrl"/>
        <activity
            android:label="@string/infrared_ctrl"
            android:name="com.gta.smart.household_ctrl.InfraredCtrl"/>
        <activity
            android:label="@string/tv_ctrl"
            android:name="com.gta.smart.household_ctrl.TvCtrl" />
        <activity
            android:label="@string/envir_monitor"
            android:name="com.gta.smart.enviromental_monitoring.EviromentalMonitoring" />
        <activity
            android:label="@string/intelligent_safety"
            android:name="com.gta.smart.intelligentsafety.IntelligentSafetyClass"/>
        <activity
            android:label="@string/scene_model"
            android:name="com.gta.smart.scenemodel.SceneModelClass"/>
        <activity
            android:label="@string/bedroom_activity"
            android:name="com.gta.smart.bedroom.BedroomClass" />
        <activity
            android:label="@string/setting"
            android:name="com.gta.smart.smarthome.SettingClass"/>
        <activity
            android:label="@string/scene_model_custom"
            android:name="com.gta.smart.scenemodel.SceneModelAdd" />
        <activity
            android:label="@string/scene_model_triggering_condition"
            android:name="com.gta.smart.scenemodel.SceneModelTriggeringCondition" />
        <activity
            android:label="@string/scene_model_triggering_action"
            android:name="com.gta.smart.scenemodel.SceneModelTriggeingAction" />
    </application>

</manifest>